/**
 * ------------------------------------------------------------------
 * Sass 变量
 *
 * ------------------------------------------------------------------
 *
 * @author  JeffMa
 * @link    https://devework.com/
 * @data    2017-06-11
 */

$marginTopSmaller: 10px;
$marginTopSmall: 15px;
$marginTopMedium: 20px;
$marginTopLarge: 30px;
$marginTopLarger: 40px;

$paddingTopSmaller: 10px;
$paddingTopSmall: 15px;
$paddingTopMedium: 20px;
$paddingTopLarge: 30px;
$paddingTopLarger: 40px;
